﻿@{
    ViewBag.Title = "File";
}

<h2>@ViewBag.Title Galery</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <input type="button" class="btn btn-success col-sm-1" id="btn-create" value="Create New" />
            <div class="col-sm-2">
                <div class="btn-group">
                    <input type="button" class="btn btn-warning" id="btn-prev" value="< Prev" />
                    <input type="button" class="btn btn-warning" id="btn-next" value="Next >" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control text-box single-line" id="txt-filter" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="btn-filter" type="button">Filter</button>
                    </span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon">Item:</span>
                    <select id="per-page" name="per-page" class="form-control btn btn-default" style="width:75px">
                        <option value="4">4</option>
                        <option value="8" selected>8</option>
                        <option value="16">16</option>
                        <option value="32">32</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon">Order By:</span>
                    <select id="order-by" name="order-by" class="form-control btn btn-default" style="width:75px">
                        <option value="createdate">CreateDate</option>
                        <option value="title">Title</option>
                        <option value="filename">File Name</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon">Sort:</span>
                    <select id="sorting" name="sorting" class="form-control btn btn-default" style="width:75px">
                        <option value="false">Des</option>
                        <option value="true">Asc</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        Loading...
    </div>
</div>

<div id="modal1" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        var currPage = 1;
        var maxPage = 1;
        var perPage = 8;
        var filter = "";
        var orderBy = "";
        var sortAsc = true;
        $(document).ready(function () {
            GetList()
        })

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "UploadFile")',
                type: 'get',
                data: { page: currPage, perPage: perPage, filter: filter, orderBy: orderBy, sortAsc: sortAsc },
                success: function (result) {
                    $(".panel-body").html(result);
                }
            });
        }

        $("#btn-create").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "UploadFile")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        })

        $("#btn-prev").click(function () {
            if (currPage > 1) {
                currPage--;
            }
            GetList(currPage, perPage);
        });
        
        $("#btn-next").click(function () {
            if (currPage < maxPage) {
                currPage++;
            }
            GetList(currPage, perPage);
        });

        $("#per-page").change(function () {
            perPage = $(this).val();
            GetList();
        })

        $("#btn-filter").click(function () {
            filter = $("#txt-filter").val();
            GetList();
        })

        $("#order-by").change(function () {
            orderBy = $(this).val();
            GetList();
        })

        $("#sorting").change(function () {
            sortAsc = $(this).val();
            console.log(sortAsc);
            GetList();
        })

    </script>
}