﻿@model IEnumerable<XPos.DataModel.Product>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Variant.Initial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Variant.Initial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Initial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-warning btn-edit" data-id="@item.Id" title="Edit" onclick="GetById(@item.Id)">Edit</button>
                <button type="button" class="btn btn-danger btn-delete" data-id="@item.Id" onclick="DeleteById(@item.Id)" title="Delete">Delete</button>
            </div>
        </td>
    </tr>
}

</table>
